Project_OurReturnedAdventure/Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Project_OurReturnedAdventure/Library/PackageCache/com.unity.burst@1.8.8/.Runtime/libburst-llvm-15.dylib filter=lfs diff=lfs merge=lfs -text

Project_OurReturnedAdventure/Library/Bee/artifacts/WebGL/GameAssembly/release_WebGL_wasm/GameAssembly.a filter=lfs diff=lfs merge=lfs -text
